
<body>
    <h1>Welcome to NFL Fantasy Football!</h1>
    <hr>
    
    <h2>
    {% block title %}
    {% endblock title %}
    </h2>

    <style>
        .tab2 {
            display: inline;
            margin-left: 10;
        }
    </style>

    <div class="navbar">
        <h3>
        <a href="{{ url_for('home') }}">Home</a>
        <span class="tab2"></span>

        <a href="{{ url_for('create') }}">Create New Team</a>
        <span class="tab2"></span>

        <a href="{{ url_for('create_label') }}">Create New Player</a>
        </h3>
    </div>
    {% block body %}
    {% endblock body %}
</body>
